<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Monitoring Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="header">Fire Monitoring Dashboard</h1>
    <div class="table-container">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Дата и время</th>
                    <th>Широда</th>
                    <th>Долгота</th>
                    <th>Фотография</th>
                </tr>
            </thead>
            <tbody>
                <!-- Данные будут добавляться сюда -->
            </tbody>
        </table>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
