<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица мониторинга </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img src="/static/mchs.png" alt="МЧС России" class="logo">
        <h1>Таблица мониторинга сообщений о пожарной опасности</h1>
    </header>
    <div class="table-container">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Дата и время</th>
                    <th>Широта</th>
                    <th>Долгота</th>
                    <th>Фотография</th>
                </tr>
            </thead>
            <tbody>
                <!-- Данные будут добавляться сюда -->
            </tbody>
        </table>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
